[2021-02-18 10:53] knigam opened #71 "Debug app is missing component for boolean-input"
index.html.hbs correctly generates tags for\<boolean-input\> but app.ts.hbs doesn't contain template to render this component. As a result, boolean types can't be set from the debug app.

[2021-02-18 15:46] hpx7 commented on #71
Fixed in https://github.com/hpx7/rtag/commit/f54954f08905b7ec758783b3bb1c4e64db34d33a

[2021-02-18 15:46] #71 closed, assigned to knigam, hpx7

[2021-06-03 22:34] anuj1102 opened #92 "Generated onTick method does not compile by default"
When using `tick: true`, the generated onTick method gives the following errors when compiling:

[code]

Example rtag.yml
[code]

[code]

[2021-06-03 22:51] hpx7 commented on #92
Good call, fixed in https://github.com/hpx7/rtag/commit/93ffac16cf18fd268e4c0d1270be42a0e4a94062

You can upgrade via `npm install -g rtag` again

You'll have to rm -rf your client and server dirs if you want rtag to regenerate your impl.ts file again, otherwise you can just paste this in for you onTick function and it should run:
[code]

[2021-06-03 22:51] #92 closed, assigned to nobody

[2022-02-23 14:57] hpx7 opened #157 "Switch to a cli framework"
Using a cli framework will get me features like:
- better flag/argument parsing
- auto-documentation (`--help` text)
- displaying Hathora cli version
- prompting users to upgrade their cli when a new version is available

These are some interesting cli frameworks to evaluate:
- https://github.com/tj/commander.js
- https://github.com/oclif/oclif

[2022-02-23 14:58] hpx7 opened #158 "Better dev logging"
Use something like https://github.com/chalk/chalk to improve Hathora terminal logging during development

[2022-02-24 20:16] hpx7 opened #161 "Support bigint"
if I have a type `foo: int` in `hathora.yml`, I should be able to use `foo: bigint` in the server `InternalState` and it should work

[2022-02-25 17:06] jonhermansen opened #162 "Feature request: Regenerate code from hathora.yml in background"
It would be nice for this to happen while `hathora dev` is running, and before hot reload occurs. That way, any generated code that will change will be written out and hopefully consumed by the reloaded version of the server.

[2022-02-25 20:36] bmcmurray opened #163 "Coordinator source code not available?"
Per the [architecture](https://docs.hathora.dev/#/architecture), any application using Hathora is connected to a Hathora-hosted coordinator at coordinator.hathora.dev, which terminates SSL and performs several other vital parts of the system operation. Is the source code for coordinators available? Can it be self-hosted?

[2022-02-25 21:50] kasbah opened #164 "`hathora build` fails with import errors"
Steps to reproduce:

[code]

[code]

<details>

[code]

</details>

[2022-02-25 21:58] kasbah commented on #164
Workaround is to do ~`cd server/.hathora && npm install`~ `hathora install` and then `hathora build` ~from the root folder~ again.

[2022-02-25 22:02] hpx7 commented on #164
I think it should also work if you do `hathora install` or `hathora dev` beforehand.

I think the bug here is that `hathora build` should probably run generate + install before building.

Thanks for the report! Would you be interested in attempting to contribute a fix for this issue? It should be fairly straightforward to add this functionality to `cli.ts`.

[2022-02-25 22:03] hpx7 commented on #164
Another note — all the hathora cli commands should be able to run from anywhere inside the project, not just the root. Let me know if you are seeing otherwise

[2022-02-25 23:42] CGamesPlay opened #165 "RFC: Merge hathora.yml and server/impl.ts"
From a private email:

I wanted to provide a proof-of-concept for a pure-typescript DSL that allows you to implement all of the features required of `hathora.yml`: usable for code generation, allows clients to be agnostic about the implementation details of the server (e.g. closed source server), usable with libraries (because it's TypeScript), privacy (via the `getUserState` function).

My proof-

[2022-02-26 00:15] kasbah opened #166 "Server has to be run from dist/server directory"
Two issues related to this that I ran into:

1. I was doing `DATA_DIR=./data node dist/server/index.js` and that wasn't picking up the .env (maybe just use a env.mjs or env.json file and import it in the index.mjs?)
2. It never complained about a missing app secret

[2022-02-26 03:47] #164 closed, assigned to nobody

[2022-02-26 04:07] #166 closed, assigned to nobody

[2022-02-26 11:57] kasbah opened #170 "Creating the 200.html for surge.sh deploy"
Since you have docs on how to deploy to surge.sh you should probably mention creating the `200.html`, or create it automatically somehow. It's something I stumbled on and would have had no idea what's happening had I not been talking to you @hpx7.

[2022-02-26 13:33] kasbah opened #171 "Declaring the Hathora version for the project"
I was just trying out https://github.com/hpx7/tussie-mussie and `hathora dev` fails: <details>

[code]

</details>

I'm guessing it was written for an older version of Hathora but there's no way to find out which.

One solution could be a top-level package.json and you always do `npm run hathora` (or maybe global `hathora` does that for you).
[code]

A less appealing but simpler solution would be

[2022-02-26 13:59] hpx7 commented on #165
Thanks for the RFC @CGamesPlay!

After thinking about it some more these are my current thoughts:

One design goal of Hathora is to achieve an effective decoupling of client and server. Let's say I'm a Swift developer specializing in adding iOS frontends for existing Hathora projects. I would want a standardized way of introspecting Hathora APIs. I don't care whether your backend is in Go or Haske

[2022-02-26 14:07] hpx7 commented on #171
Thanks for filing. The actual issue is that the prototype UI tries to import the [Card plugin](https://github.com/hpx7/tussie-mussie/blob/develop/client/prototype-ui/plugins/Card/index.tsx) via `import CardPlugin from "./plugins/Card";`. This works if you define the plugin in an `index.ts` file but not `index.tsx`. I need to figure out how to get `tsx` plugins working with Hathora (let me know if

[2022-02-26 14:12] hpx7 commented on #170
These are the surge docs on the topic: https://surge.sh/help/adding-a-200-page-for-client-side-routing

Hathora is not affiliated with Surge in any way, it's just one of the options I included in my docs. Netlify for example has their own [workaround](https://www.netlify.com/blog/2019/01/16/redirect-rules-for-all;-how-to-configure-redirects-for-your-static-site/) for the SPA issue.

I think a bett

[2022-02-26 14:20] kasbah commented on #171
As the examples grow there should be way to specify the hathora version at the very least (and bonus points if it can npm install the right version needed and run it). I gave some ideas above but am not a person that cares about having a Rust / Kotlin etc. support so I will leave it up to you.

(The issue of what's actually happening with tussie-mussie is an aside of course, let's figure that out

[2022-02-26 14:22] hpx7 commented on #171
Try out the local Hathora install and let me know how you like that. I think that’s the common pattern for pinning versions of node clis

[2022-02-26 14:23] hpx7 commented on #171
I would be happy to add it to the docs as a recommended pattern/option if it works well for folks

[2022-02-26 14:29] kasbah commented on #170
If you want to change the router, it's up to you of course. If there's a `surge ... ` command example in the docs it would also be nice to have a little note about adding a `200.html` if the issue is likely to happen.

[2022-02-26 14:49] kasbah opened #172 "Listing games on the client"
I'd like to list all the games on the home page. Ideally I'd also want to add a "private" property to the GameState/InternalState and filter those out of the list on the server. (Discussed [on Discord](https://discord.com/channels/917446684664008854/917446684664008857/947139239181692929).)

[2022-02-26 22:03] hpx7 opened #173 "Consider exposing subscriptions"
Hathora knows which userIds are subscribed to a given stateId. We should explore if and how the client/server should have access to this information

[2022-02-26 22:44] CGamesPlay commented on #165
I think that option 3 actually hits at what makes sense for every API developer: my server is the source of truth, but we need a good interchange format to make a usable API. When I'm building a REST API, this might be an OpenAPI specification ([swagger](https://petstore.swagger.io)). For GraphQL, you use introspection to create a schema from a running server. For gRPC, maybe it's a set of `.proto

[2022-02-26 23:47] hpx7 commented on #165
Right, but you're not arguing against (1) and (2) also being valid options, are you?

I think all modes of producing `HathoraConfig` can be supported and it's up to the user which style they prefer to use

[2022-02-27 00:39] CGamesPlay commented on #165
No of course not. A `HathoraConfig` is a `HathoraConfig` whether it comes from a file on disk or gets live generated by code. I just think the workflow should support generating it from server code.

[2022-02-27 06:43] hpx7 commented on #163
I am working on a local coordinator that will be suitable for local development. It doesn't include all the functionality of the cloud coordinator (like multi-tenancy, load balancing, automatic failover, etc), isn't high throughput, and makes security shortcuts. But these things mostly don't matter in the local development context.

You can follow along with development at https://github.com/hatho

[2022-03-01 18:23] bmcmurray commented on #163
No, my question is really about the cloud coordinator -- it sounds as though it will have material differences to the local coordinator and if it's code isn't available that means it's a proprietary blackbox that sits in between the client and game server.

[2022-03-01 20:47] hpx7 commented on #163
The cloud coordinator source code is not available but the protocol is open -- the local coordinator can be considered a reference implementation of the Hathora protocol (so anyone is free to make their own coordinator implementation).

[2022-03-01 21:03] hpx7 commented on #163
Closing now that it's possible to configure the coordinator host: https://github.com/hathora/hathora/commit/52569fc0082b046867221d8cec033d6fd2b9b873

[2022-03-01 21:03] #163 closed, assigned to nobody

[2022-03-02 12:44] hpx7 opened #181 "Don't crash server if impl method throws"
It's annoying to have to ctrl+C and restart the dev server if you have a bug that causes a method to throw

[2022-03-02 12:45] hpx7 opened #182 "Warn if InternalState is modified inside getUserState"
`getUserState` shouldn't mutate `InternalState` -- if this happens it will lead to confusing behavior, so we should warn if we detect it happening

[2022-03-06 15:57] kasbah opened #187 "Uncaught RangeError: Offset is outside the bounds of the DataView"
Hey, I'm seeing this error since [adding a `createdBy` property to my state](https://github.com/kasbah/calm-go/commit/63e551f99be385cff0860061c15356ad5f2d6639). If I remove that property it goes away. Any ideas what that's about?

[code]

[2022-03-06 17:18] hpx7 commented on #187
I ran your `add-created-by` branch locally and I noticed that if I join as a second player there are two websocket connections to hathora established at the same time:
<img width="552" alt="image" src="https://user-images.githubusercontent.com/5400947/156934042-6949b10c-f365-44fb-a5f5-7673e5061dbd.png">
I think this is ultimately causing issues (it's interfering with the hathora's client logic whi

[2022-03-06 19:53] kasbah commented on #187
Ok yes, thanks, making sure to just have one connection seems to have fixed it.

[2022-03-06 19:53] #187 closed, assigned to nobody

[2022-03-07 02:49] kasbah opened #189 "Where to put custom_typings for server?"
I'm trying to add some typings for an untyped module in the server. ([`@sabaki/deadstones`](https://www.npmjs.com/package/@sabaki/deadstones), here's [the branch where it's failing](https://github.com/kasbah/calm-go/tree/deadstones))

[code]

1. Tried adding `server/custom_typings/@sabaki/deadstones.d.ts`
2. Tried copying the folder to `server/.hathora/custom_typings`
3. Tried adding `  "typeRoots

[2022-03-07 20:04] hpx7 commented on #189
Try adding this to impl.ts:
[code]

I got that from https://github.com/TypeStrong/ts-node/issues/782#issuecomment-496685993

[2022-03-13 21:22] kasbah commented on #189
Thanks for the suggestion. I just[ tried it ](https://github.com/kasbah/calm-go/commit/e4660df61069ad3ba5c6f78c87039614a6b82fa8#diff-d837cc8bd77338e806049be7fc3d63857b63b49024f0ec2320c4c26b91cd2eedR4)but it gives the same error. I also modified `templates/base/server/.hathora/tsconfig.json.hbs` with:

1. adding `"typeRoots": ["./node_modules/@types", "../custom_typings"]`, which didn't have any ef

[2022-03-13 21:27] kasbah commented on #189
Hold on! I needed to move it to the top: https://github.com/kasbah/calm-go/commit/311f7ee541084e2f9945034d8c09af80ab0b4b6d

[2022-03-13 22:04] kasbah opened #190 "Make Impl methods `async`?"
Would be nice if all the methods were declared as `async` / returning `Promise<>` so I can `await` in them if needed. As far as I can see they are currently called in async functions in `wrapper.ts.hbs`

What do you think? It will be a breaking change but fairly straight-forward to do.

[2022-03-14 23:43] hpx7 commented on #190
What use case do you have for awaiting inside methods? A common one I've heard is making http requests inside methods, but in order to do that I plan on adding support for a `ctx.http()` method (since we need to be able to replay the http requests).

The challenge with async methods is that Hathora would need to await them by default to ensure that transactions don't interleave. If your transactio

[2022-03-15 11:33] kasbah commented on #190
My use case is that I need to [call an async method from an external library](https://github.com/kasbah/calm-go/blob/f6aea69c9a5ae579430872ac6a8ec8d838b3d3d4/server/impl.ts#L324). In this case I'd like to do it in `getUserState` but I can easily imagine wanting to do something like that in any of the other methods.

I did realize I'm probably not considering the full issue when I just tacked async

[2022-03-16 12:14] kasbah commented on #190
I was thinking a bit about this issue and if using immutable data for state might solve it. I think the problem would still exist: you are essentially creating two states if you have two async methods running at the same time. You could try and merge them at the end but they may overwrite each other. It's a little less confusing to me when thinking about it with immutable state data but the proble

[2022-03-16 13:51] hpx7 commented on #190
Yes you are correct in your assessment on what makes async tricky -- the shared mutable state in methods is the `InternalState` (i.e. `state`). And yes even if `state` were immutable you still wouldn't want to interleave transactions.

As a side note -- I have thought about making `state` immutable but I don't think it's possible with the current model. The issue is that `InternalState` isn't nece

[2022-03-16 14:08] kasbah commented on #190
I guess the issue with just going ahead and making them as async is that it encourages bad practices inside the method. It's a confusing API to the user since we give them an async function but then we actually block on it.

The `schedule` function would at least encourage a good practice and set the right expectations about when the state will be modified. It would be a bit like `useEffect` in Re

[2022-03-16 14:12] hpx7 commented on #190
Can you explain how the `schedule` function would work? Don't you have the same issue where the async callback inside schedule could be interleaved with execution from other methods?

[2022-03-16 14:30] hpx7 commented on #190
@kasbah I took a stab at it in https://github.com/hathora/hathora/pull/195

Even if the API might be confusing in that users could expect their methods not to block, at least having them block doesn't introduce any correctness issues. As for encouraging bad practices, I assume you mean it encourages users to blindly add awaits in methods without considering the throughput implications? This can be

[2022-03-16 14:47] kasbah commented on #190
I was envisioning it being done on an idle loop, when there is nothing else to do. But yes, the way I modified the state in the example would require blocking too. One way around that could be to not allow modifying the state in the async function, but allow dispatching method calls

[code]

Or with a bit of sugar, handing the user a sort of proxy of the `Impl` class instance:
[code]

Just marking

[2022-03-16 16:01] hpx7 commented on #190
I think the dispatch approach works and is a nice suggestion, thanks.

The issue I see is that there is nothing that prevents the user modifying the original `state` arg from the method from inside the schedule callback.

I think both the `schedule` approach and the blocking approach have their pitfalls that need to be documented. At this time I'm leaning towards the blocking approach because (1)

[2022-03-16 16:10] kasbah commented on #190
Does the `readonly` not do the trick?

[code]

[2022-03-16 16:17] hpx7 commented on #190
What stops me from doing this:
[code]

[2022-03-16 16:49] kasbah commented on #190
Oh yeah, that is a problem (though I don't think your example will quite pass type checking). I'm still leaning towards some sort of solution that doesn't turn all that async into blocking calls. Seems like bad path for a web server.

How about separating the effects out completely?

[code]

[2022-03-16 17:00] hpx7 commented on #190
Don't you usually _want_ to block?

[code]
I would expect this method to simply run synchronously without interleaving any other methods I think?

[2022-03-16 17:08] kasbah commented on #190
Conceptually you want to think about it like it's running sync. But practically, on a web server with multiple connections on a single thread, you don't want to block on http calls, file access, etc.

[2022-03-16 17:25] hpx7 commented on #190
The way I'm thinking about it is that you essentially want a mutex around the `stateId`. So the calls across game instances run in parallel, for a single instance everything is serial.

[2022-03-16 17:37] Mraucin opened #196 "Check if player is still online"
Hi, how shall I check if player is still online? Should I use onTick method to send heartbeat signal (for example with ctx.broadcastEvent) and wait for response and store it?
Thanks in advance :>

[2022-03-16 17:45] kasbah commented on #190
Per `stateId` is a mitigation but if you are still blocking at least two connections with your awaits. The more players join one game, the worse it gets.

The thing I'm still really stuck on with this is we would be essentially saying to people with the API: "sure, use `await` in the methods for some long running tasks". Whereas if they remain non-async it's really clear: "you can't expect to have

[2022-03-16 20:18] hpx7 commented on #196
I think the easiest way to do this would be to have a `latestHeartbeatTimestamp` field in your internal state per player, and have the client call a `heartbeat` method which sets the timestamp.

Then in `getUserState` you can compute whether someone is online or not based on the difference between the current time and the `latestHeartbeatTimestamp` per player. How does that sound?

[2022-03-16 20:21] hpx7 commented on #196
If you wanted to specifically remove a player from the internal state if they haven't sent a timestamp for a certain period of time, then I would do that inside `onTick`

[2022-03-16 20:28] hpx7 commented on #190
You're right, maybe we need two modes of handling this. The first mode is for cases like my `setWeather` example where you don't expect the await to take too long and its much more natural to write in this style. The second mode would be for truly long running tasks where you have a way to dispatch method calls similar to how you suggested.

[code]

It's less natural to write but it's non-blocking

[2022-03-16 20:36] kasbah commented on #190
I'm back on the fence. I don't think I can make this call at all :smile:. Your example has the same problem you pointed out before though. It doesn't prevent you (and kind of encourages you) to do:

[code]

[2022-03-16 20:41] hpx7 commented on #190
Yeah I think the specific api for this would have to be something like Redux
[code]

[2022-03-16 20:42] kasbah commented on #190
That still has exactly the same problem though?

[2022-03-16 20:50] hpx7 commented on #190
Ha, yes you're right. Need to think more about what API would work

[2022-03-16 20:50] kasbah commented on #190
Talking about redux, the problem of what we are trying to address is pretty similar to what [redux-saga](https://redux-saga.js.org/) tries to address. I never liked that generator based API personally... but it's a thing.

[2022-03-16 21:17] kasbah commented on #190
Adapting my idea above to your example. Just food for thought.

[code]

[2022-03-17 03:04] hpx7 commented on #190
My concerns with the above example:
1. `setWeather` always returns `Response.ok()`, but the response should really depend on the result of the async call
2. `processWeatherResponse` looks like a method that is defined in `hathora.yml` and can be called by the client, but really it should be an internal method that is only defined in `impl.ts` and isn't exposed to the client
3. Passing arguments vi

[2022-03-17 04:28] hpx7 commented on #190
Thinking about this more, I think the cleanest way to do this will be to use immutable internal state + [Optimistic Concurrency Control](https://en.wikipedia.org/wiki/Optimistic_concurrency_control). This would enable you to use `await` freely since you can be sure that `state` hasn't mutated after control returns.

Hathora already knows how to retry transactions safely so I think this would work

[2022-03-17 09:43] arranf opened #197 "[Documentation] Type Properties Cannot Start With a Number"
If you have a type (as shown below) which has a property that begins with a numeric character (as a string or not!) encode and `encodeDiff` fail because they attempt to use dot notation `obj.1` rather than square bracket notation `obj['1']` for property access.

[code]

[2022-03-17 09:58] arranf commented on #157
@hpx7 Any help you'd like on this?

[2022-03-17 11:34] kasbah commented on #190
Ah, very interesting, I'm wondering if we should fix and merge #195 and then do OCC and immutability as an optimization later on?

As for my specific use case, so I can stick with standard Hathora, I'm just going to do something that I know is technically wrong but probably won't cause any problems. I just call `then` on the promise I need and modify the state in the callback: https://github.com/k

[2022-03-17 11:55] kasbah commented on #157
Can't speak for @hpx7 but since there are no open pull-requests on this I believe you are welcome to make one and work on this. I would suggest making the pull-request early (as a "draft") to make sure you are going in the right direction.

[2022-03-20 09:51] Mraucin opened #201 "Restore user session after closing browser tab"
How to not lose user session (id etc.) after closing browser tab? Refreshing page works fine, but otherwise user gets new id.

[2022-03-20 12:03] kasbah commented on #201
In a custom client you can store the token in `localStorage` instead of `sessionStorage` and it will persist.

[2022-03-22 22:21] hpx7 opened #204 "Error on non-determinism in methods"
Things like `Math.random()` and `Date.now()` should throw and direct the user to use `ctx.chance` and `ctx.time` instead

[2022-04-05 06:35] wolf81 opened #218 "Can't build examples: "Unable to compile TypeScript""
I clones the project & installed npm. I also installed hathora using rpm.

Afterwards I navigate to the Pong (and Uno) directories and try to run `hathora dev`.

During the build an error occurs: `Argument of type 'string' is not assignable to parameter of type 'Context'`

The specific error I get when trying to build Uno & Pong is as follows:

[code]

[2022-04-05 13:28] hpx7 commented on #218
There were some breaking changes on develop that were incompatible with the previously released version.

I've released 0.7.1, if you upgrade (`npm install -g hathora`) you should find that the examples work now.

[2022-04-05 13:28] #218 closed, assigned to nobody

[2022-04-15 19:15] paccao opened #228 "Space bars in the path to my projects directory throws error"
The error that is thrown is ERR_MODULE_NOT_FOUND which gets called in my global install of hathora at:
AppData\Roaming\nvm\v16.14.2\node_modules\hathora\node_modules\ts-node\dist-raw\node-esm-resolve-implementation.js:369

The problem was that I had spacebars in my filepath to my project folder, like this:
C:\Users\paccao\Documents\1 Code\Amongus demo\server\.hathora\

It got fixed when changed th

[2022-04-15 19:21] paccao commented on #228
This was replicated both on a Windows and a Mac machine, which would indicate the issue does not lie in node.js

[2022-04-15 19:29] hpx7 commented on #228
Thanks, this is now fixed in 0.7.6 (see https://github.com/hathora/hathora/commit/16c4b2ed47a174afb6a647df6aa7d0f41449b817)

[2022-04-15 19:29] #228 closed, assigned to nobody

[2022-04-16 00:00] Greenheart commented on #204
Quick ideas:
1. Could this perhaps be implemented by intercepting calls to `Math.random()` and `Date.now()` using a [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy)? Ideally, this could be added in the [`ctx` scope for each request](https://github.com/hathora/hathora/blob/66a0deb3161418975d7fd3bb283249189f5070d4/templates/base/server/.hathora/store.ts

[2022-04-16 03:03] hpx7 commented on #204
@Greenheart what do you think of the approach I took in https://github.com/hathora/hathora/pull/232?

[2022-04-16 14:36] #204 closed, assigned to nobody

[2022-04-21 04:05] dieseldeesh opened #240 "Introduce scenarios"
For the debug app, it would be nice to be able to be able to define scenarios and have certain actions executed step by step. For example, there could be a scenario to login (creates a user). Then another scenario to join a game. These scenarios can be chained to bootstrap the debug app with many users in a game with certain configurations. This could also be useful for writing tests.

[2022-04-21 13:55] hpx7 commented on #240
Thanks for the suggestion!

A new command I added is `hathora save <stateId> <saveName>`. This command creates a save file from the `stateId` by copying over the replay log into the `data/saves` directory. The idea is that you can then load this file up using `hathora load <saveName>` and it will open up a browser tab per user from the save file so that you can resume testing where you left off. I

[2022-05-07 05:59] vyder opened #260 "Need to specify a minimum node version"
My global node version was `14.15.0`, running `hathora dev` crashed with this error:

[code]

After some googling, I came across [a stack overflow](https://stackoverflow.com/a/67643000/834459) that talked about upgrading node version.

So when I switched to node `16.13.0`, it worked just fine.

Specifying a `.nodenv` and `.nvmrc` file in the tutorial repos would fix the short-term issue. (You can

[2022-05-07 16:07] hpx7 commented on #260
I specify the minimum node version in the docs and also in the [engines section](https://github.com/hathora/hathora/blob/a4444fecb94af97229f5c0b4a0d5312c02f89793/package.json#L43-L45) of package.json, which should warn you if your node version is too low when you install/upgrade hathora (but I know most people ignore install output).

The [CI](https://github.com/hathora/hathora/blob/a4444fecb94af9

[2022-05-07 16:07] #260 closed, assigned to nobody

[2022-05-08 07:43] vyder opened #261 "`hathora init` throws an error"
Was about to try making a project from scratch, and discovered that `hathora init` fails with this error:

[code]

Looks like the issue is that [cli.ts (line 140)](https://github.com/hathora/hathora/blob/develop/cli.ts#L140) calls `getProjectRoot` at the top level of the file, but in the `init` scenario `hathora.yml` doesn't exist yet - and so it throws.

Additionally, running `hathora --help` thr

[2022-05-08 07:49] vyder commented on #261
Reading through the other issues - probably best to fix this along with a CLI restructure referenced in #157

[2022-05-08 08:18] vyder commented on #261
Ok my bad - I thought this generated a hathora project from scratch, but as I work through the uno tutorial, I see that the expected workflow is:

1. Create `hathora.yml` by hand
2. Run `hathora init` to generate project from that

[2022-05-09 05:11] hpx7 commented on #261
Probably a couple things that should be improved here:
1. cli shouldn't call `getProjectRoot()` at the top level
2. there should potentially be a separate `hathora create` command

[2022-05-09 05:17] vyder commented on #261
What do you think about having `hathora init` create the hathora.yml from a template - similar to `npm init` or `bundle init` conventions - and then `hathora generate` does the generation?

Actually I haven't checked what the difference is between `init` and `generate`, but I have been running `generate` as I tweak the yaml definition during development.

[2022-05-09 06:29] hpx7 commented on #261
Right now, `hathora init` is responsible for project bootstrapping, i.e. creating the initial directory structure for your application (independent of what you put in your `hathora.yml`. `hathora generate` runs the codegen based on your `hathora.yml`.

I like the idea of being able to create something from a template so you don't have to create your `hathora.yml` from scratch when starting your pr

[2022-05-09 09:47] vyder commented on #261
I didn't explain myself well - what I meant was that I think many package managers follow the `npm`/`bundle` convention where the `init` command either interactively or statically creates that pkg manager's respective manifest - `package.json` or `Gemfile` - and then they have other commands to do the subsequent generation.

Actually come to think of it `rails` uses `new`.

Ok maybe there is no fi

[2022-06-03 10:19] vyder opened #298 "Breaking change in version `0.8.0`? client.connect doesn't resolve"
In the console it says error resolving promise, `{ message: null, type: GENERIC_FAILURE }`

Downgrading back to `0.7.31` resolved it for me.

[2022-06-04 03:08] hpx7 commented on #298
Yes there was an API break -- see https://github.com/hathora/hathora/releases/tag/0.8.0

[2022-06-04 03:08] #298 closed, assigned to nobody

[2022-06-06 15:13] dsiddharth opened #304 "New Hathora CLI orchestration"
build, start, etc -- things like vite for client code

[2022-08-09 21:16] #304 closed, assigned to hpx7

[2022-08-13 11:34] MartijnWelker opened #373 "Typescript errors in api/base.ts and .hathora/patch.ts"
I've been working on  a simple game and when I import `HathoraClient` from `.hathora/client` (as is done in the [ship example](https://github.com/hathora/ship-battle/blob/master/client/web/app.ts)) the web client compilation errors with typescript errors coming from `api/base.ts` and `.hathora/patch.ts`.

If required I can share more of my code, but since this errors in the automatically generated

[2022-08-13 19:08] #373 closed, assigned to nobody

[2022-08-13 19:10] hpx7 commented on #373
Thank you for the report @MartijnWelker. Can you try again with hathora 0.9.13 and let me know if that fixes the issue for you?

[2022-08-15 09:42] cyrilchapon opened #377 "Why mutability ?"
Coming from non-game environments (FP inspired Javascript notably, like well known flux architecture or even react at its core); I was heavily surprised the philosophy of State update has mutation at its core.

To challenge that, asking here a naive but important question :

Why not taking a non-mutative approach ?
ie
[code]
instead of
[code]

IMHO, this approach is broadly proven to be more easil

[2022-08-15 11:09] MartijnWelker commented on #373
Yep. No more errors 👍 Thanks for the quick reply

[2022-08-15 20:45] hpx7 commented on #377
Hi @cyrilchapon, you ask a fair question, and it's certainly something I've thought about.

One big reason for mutability is efficiency. The `onTick` method can run 20+ times a second, and game states may be quite large -- it would be inefficient to copy the full state on each run of the method. There are tools like [ImmerJs](https://immerjs.github.io/immer/) which do clever tricks to help here, b

[2022-09-01 13:27] MartijnWelker opened #389 "`hathora build` does not generate `dist` folder in custom react client"
According to the [build documentation](https://docs.hathora.dev/#/deploy?id=build) `hathora build` should create a `dist` folder in _all_ client subdirectories, but in my project with a custom react client it does not.

`hathora build` output:
[code]

I've attempted to manually run `npm run build` in `client/web/` but that errors with:
[code]

which comes from

[code]

Extra info:
- `hathora --ver

[2022-09-02 11:35] #389 closed, assigned to nobody

[2022-09-02 11:39] hpx7 commented on #389
@MartijnWelker I've fixed the build command in `0.9.17` but I'm not sure about the import error you're getting.

It's not required but if you make your repo public I'd be happy to investigate myself!

[2022-09-02 14:47] MartijnWelker commented on #389
Hi @hpx7,
Thanks for your quick reply. With the new Hathora version it attempts to build my client as expected. It's still erroring on the `Writer` import (which it also did when I manually ran `npm build`) so I think that that's probably a user error on my side.

I've made [my repo](https://github.com/MartijnWelker/wizard) public and I would be very grateful if you could have a look. The setup is

[2022-09-02 17:53] hpx7 commented on #389
@MartijnWelker I've been able to identify that the problem is being caused by the way we're compiling our `bin-serde` project: https://github.com/hathora/bin-serde-ts/blob/f383092cd3b468fd6bdf7b00bcabf583f0916fce/tsconfig.json#L4. Your webpack config isn't able to import commonjs modules for some reason.

Let me know if you're able to find a way to get webpack to work with commonjs style imports (

[2022-09-05 08:04] MartijnWelker commented on #389
I looked into this a bit more and found several stack overflow posts that suggest using only ES6 style exports/imports because mixing the different export styles is not recommended.
If publishing an updated version of bin-serde is an option that would be great. I think in the end Hathora should be set up in such a way that there should be the least amount of friction with any framework used for cu

[2022-09-05 15:22] hpx7 commented on #389
@MartijnWelker try out `0.9.18` and let me know if that fixes the issues for you

[2022-09-07 08:37] MartijnWelker commented on #389
@hpx7 Works now. Thank you very much!

[2022-09-08 15:33] hpx7 opened #395 "Typed events"
Events should be defined in the yml and potentially have data associated with them

Then you can use it like this:
[code]

[2022-09-19 11:57] jyoung4242 commented on #395
for both sendEvent and Broadcast Events

[2022-09-19 11:58] jyoung4242 opened #405 "Lobby service"
1 aspect is to have rooms be public or private
and.... if public
can we get a method to list of all public rooms ?

[2022-09-20 01:16] Strikeskids opened #406 "How do you safely change the HathoraConfig types?"
I'm new to the hathora project and didn't see any documentation talking about the upgrade process for your HathoraConfig types. Did I miss it?

I'm wondering about questions like:

- What if my client is running an older version of the types than the server I'm connecting to?
- What if I deploy a new server, it breaks, and I need to roll it back but some clients already have downloaded the new ver

[2022-09-21 14:45] hpx7 commented on #406
Hey @Strikeskids, all great questions. I'll admit we haven't thought very deeply on this topic, so would be interested in getting your thoughts on what you'd like to see in a solution here.

On the client <> server communication part: right now the model is just to update clients and servers at the same time whenever there are breaking changes to the API. If you want to update client and server se

[2022-09-21 14:47] hpx7 commented on #405
I've renamed this issue to "Lobby service", as that seems more in line with what you're looking for.

The scope of matchmaking is to automate the match finding process, i.e. users enter a matchmaking queue and are matched with others in the queue based on some specified criteria (number of players, skill level, geography, etc).

[2022-09-23 11:03] jyoung4242 opened #408 "deprecation of npm i global"
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

might want to adjust it at some time...

[2022-10-02 01:50] jyoung4242 commented on #395
any update on this?  i ran into a usage for it today

[2022-10-02 18:26] hpx7 commented on #395
No updates yet @jyoung4242. Let me know if you'd be interested in taking a stab at contributing this feature, I'd be happy to guide you through what needs to be done in hathora to make it happen.

[2022-10-02 18:51] jyoung4242 commented on #395
actually, i can try looking into it, sounds like an interesting problem to solve

[2022-10-04 21:38] IanSSenne commented on #395
@jyoung4242 did you end up looking into this? if not i may take a stab at it as this would make one of my current projects much easier

[2022-10-04 21:56] jyoung4242 commented on #395
I'm okay with that, I'm super busy at moment... hpx7 and I have had some brief chats about what it entails... @IanSSenne

[2022-10-04 22:50] IanSSenne commented on #395
after talking with @hpx7 this is the proposal ive come to

hathora.yml:
[code]
api types:
[code]
server:
[code]
client:
[code]

[2022-10-04 22:51] IanSSenne commented on #395
@jyoung4242 if you see any issue with this let us know :) I can't see any issues but thats not to say there arnt any

[2022-10-05 00:09] jyoung4242 commented on #395
I think it's perfect but would we consider adding this to broadcastEvents as well?

That was I don't have to loop through each client and do a sendEvent

reason i mention is 95% of time i'm using ctx.broadcastEvent

[2022-10-05 17:13] jyoung4242 commented on #395
@IanSSenne , did i lose you on my resposne?

[2022-10-06 18:27] IanSSenne commented on #395
@jyoung4242, I'm hoping @hpx7 has an opinion on that, I'm open to looking into that as well, I got slightly busy the last day or two and haven't been able to actually start implementing it yet.

[2022-10-06 18:42] hpx7 commented on #395
Yeah for broadcast it would just be
[code]

[2022-10-06 19:39] jyoung4242 commented on #395
@IanSSenne , yup, i'm on board... lemme know if you need any assistance... i will be traveling most of next week

[2022-10-08 01:59] IanSSenne commented on #395
@jyoung4242 just wanted to bring you up to speed on what I have managed so far, the types for Event Type, Event Payload Type, and the Context have been updated or created using `hathora gen`, the next thing to do is client side type updates (just need to change a function signature) and the server side implementation. I may be missing something but so far its going ok.

[2022-10-08 02:25] jyoung4242 commented on #395
@IanSSenne , that's fantastic! Looking forward to testing it out

[2022-10-09 10:15] IanSSenne commented on #395
@jyoung4242 I have a working implementation at this point, just has a couple of quarks I'm waiting to hear back from hpx7, feel free to take a look at the implementation here https://github.com/IanSSenne/hathora-builder-events and let me know if you can see any glaring issues :)

[2022-10-18 18:12] hpx7 commented on #395
Fixed in https://github.com/hathora/builder/pull/418

[2022-10-18 18:12] #395 closed, assigned to nobody